

@* <div class="form-group">
<label asp-for="MembershiptypeID" class="control-label">Membership Name</label>
<select asp-for="MembershiptypeID" class ="form-control" aspitems="@
ViewBag.member"></select>
<span asp-validation-for="MembershiptypeID" class="text-red"></span>
</div> *@