@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Tit1e ="Index";
}
<h2>Index</h2>

<p>Bonjour ceci est une vue! </p>
